name: release
on:
  push:
    tags:
      - "v*"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: lint
        run: |
          shellcheck envs
          shellcheck install.sh
      - name: Set up Bats
        run: |
          git clone --depth 1 https://github.com/bats-core/bats-core.git
          sudo ./bats-core/install.sh /usr/local
      - name: Install bats-assert and bats-support
        run: |
          mkdir -p tests/libs
          git clone https://github.com/bats-core/bats-assert tests/libs/bats-assert
          git clone https://github.com/bats-core/bats-support tests/libs/bats-support
      - name: Run Bats tests
        run: |
          bats tests/envs.bats
  release:
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            envs
            install.sh
            LICENSE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
